<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to HarryRestaurant.com, <%= @order.name %></h1>
    <p>
      Your order has been submitted.
      You can see the order detail here <%= @url %>.<br>
    </p>
    <p>Thanks you very much and have a good day :)</p>
  </body>
</html>