	<div class="contact-us">
		<h1 style="color:#00a0ea;">CONTACT US</h1>

		<div class="row">
		<div class="col-sm-5">
				<p>
					<b>Name:</b> Harry Nguyễn
				</p>
				<p>
					<b>Phone Number:</b> 01689932210
				</p>
				<address>
					<b>Address:</b> 32 Bạch Đằng, Phường 2, Tân Bình, Hồ Chí Minh, Vietnam
				</address>
			</div>
			<div class="col-sm-7">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.9619064922917!2d106.66898895039273!3d10.814227161414045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175291f39f769d7%3A0xf2796b6257daf5b2!2zMzIgQuG6oWNoIMSQ4bqxbmcsIFBoxrDhu51uZyAyLCBUw6JuIELDrG5oLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1457597880897" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>