

<div class="jumbotron">
	<div class="inner-jumb">
		<br>
		<h4 class="align-text-center">Real Food</h4>
		<h1 class="align-text-center">DELIVERED</h1>
		<p class="align-text-center">--------</p>
		<div class="button-group inner-div-center">

			<%= link_to "Menu", menu_path(section_id: -1) ,class: "btn btn-danger" %>
			<%= link_to "Contact us", contact_us_path ,class: "btn btn-warning" %>
		</div>

	</div>
</div>
